body{
    background-image: url(bg.jpg);
}

@keyframes animate{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 5440px;
    }
}

.btn{
    border: none;
    margin: 20px;
    padding: 24px;
    width: 990px;
    font-family: "montserrat", sans-serif ;
    text-transform: uppercase;
    border-radius: 24px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
  }
  
  .btn1{
    background-image: linear-gradient(to left,#9decf1,#1049e7,#9decf1);
  }
  
  .btn2{
    background-image: linear-gradient(to left,#d1b7e0,#9e5fda,#d1b7e0);
  }
  
  .btn:hover{
    background-position: right;
  }

  h1{
    text-align: center;
    color: rgb(161, 108, 121);
  }

  